<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Vibrate permission for timer alerts -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Camera permission for bean photo capture -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera hardware feature (not required for Chrome OS compatibility) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <!-- Package visibility for camera apps on Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".CoffeeShotTimerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeShotTimer"
        android:hardwareAccelerated="true"
        android:largeHeap="false"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CoffeeShotTimer.SplashScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- App shortcuts for quick actions -->
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- FileProvider for secure photo sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jodli.coffeeshottimer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Prompt Google Play services to install the backported photo picker module -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>

        <!-- Disable unused components to reduce app size -->
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            tools:node="remove" />
    </application>

</manifest>